.section-partners--wrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.partners-list {
    @include row-flex();
    width: 100%;
}
.partners__item {
    @include col();
    @include size(2);
 

    @include sm-block(){
        @include size(4);
    }
}
.partners__link {
    display: block;
    transition: transform .3s ease;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        transform: scale(1.1);
    }
}